<p>shirts ese</p>
<div id='shoesImages1' class='col-md-6'>
<img src='http://scene7.zumiez.com/is/image/zumiez/cat_max/Brixton-Oath-White-T-Shirt-_269741.jpg'>
 <a ui-sref='product({id:1})'>Good</a>
<img src='http://scene7.zumiez.com/is/image/zumiez/cat_max/Brixton-Grade-T-Shirt-_260957.jpg'>
 <a ui-sref='product({id:1})'>Better</a>
</div>
<div id='shoesImages2' class='col-md-6'>
<img src='http://scene7.zumiez.com/is/image/zumiez/cat_max/Brixton-Oath-Burgundy-T-Shirt-_265496.jpg'>
 <a ui-sref='product({id:1})'>Best</a>
<img src='http://scene7.zumiez.com/is/image/zumiez/cat_max/Brixton-Wheeler-II-Burgundy-T-Shirt-_276009.jpg'>
 <a ui-sref='product({id:1})'>Ultra</a>
</div>