<p>shirts ese</p>
<div id='shoesImages1' class='col-md-6'>
<img src='http://scene7.zumiez.com/is/image/zumiez/cat_max/Brixton-Oath-White-T-Shirt-_269741.jpg'>
 <a ui-sref='good'>Good</a>
<img src='http://scene7.zumiez.com/is/image/zumiez/cat_max/Brixton-Grade-T-Shirt-_260957.jpg'>
 <a ui-sref='better'>Better</a>
</div>
<div id='shoesImages2' class='col-md-6'>
<img src='http://scene7.zumiez.com/is/image/zumiez/cat_max/Brixton-Oath-Burgundy-T-Shirt-_265496.jpg'>
 <a ui-sref='best'>Best</a>
<img src='http://scene7.zumiez.com/is/image/zumiez/cat_max/Brixton-Wheeler-II-Burgundy-T-Shirt-_276009.jpg'>
 <a ui-sref='ultra'>Ultra</a>
</div>